@keyframes logo_animation{
	0% { color: red; }
	50% { color: green; }
	100% { color: blue; }
}
@keyframes categorie_animation{
	0% {
		color: white;
		background-color: rgba(0, 0, 0, 0.5);
	}
	100%{
		color: black;
		background-color: rgba(255, 255, 255, 0.5);
	}
}
/* body */
body{
	width: 1300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	padding: 5px 0px 5px 0px;
	background-color: rgb(224, 224, 224);
}
a, a:visited{
	text-decoration: none;
}
ul{
	list-style-type: none;
}
/* top */
header{
	width: 92%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 5px;
	color: white;
	padding: 7px;
}
#h1_1{
	margin: 10px 0px 10px 0px;
	font-family: 'Rosewood Std Regular';
	padding-left: 10px;
	animation: logo_animation 3s linear 0s infinite alternate;
}
#ul1{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px;
	width: 400px;
	margin: 10px 0px 10px 0px;
	padding-right: 10px;
}
#ul1 a{
	color: white;
}
#ul1 a:hover{
	font-weight: bold;
	text-decoration: underline;
}
#f_search{
	height: 40px;
	width: 355px;
	border: 8px 0px 8px 0px;
}
input[type="search"]{
	width: 150%;
	height: 43px;
	border: 1px black solid;
	border-radius: 3px;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	margin: 5px 0px 5px 0px;
	font-family: 'Tekton Pro';
	position: relative;
	left: -65px;
	top: -7px;
}
#f_search button{
	position: relative;
	left: 425px;
	top: -55px;
	height: 43px;
}
/* center */
section{
	width: 92%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px 0px 10px 0px;
	background: url("../images/acheter/background.jpg") repeat scroll;
	box-shadow: 2px 2px 2px black;
	border-radius: 5px;
}
#div1{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
#div1 h2{
	font-family: "Rockwell Condensed";
	font-size: 40px;
}
#h2_title{
	white-space: wrap;
	width: 70%;
}
#s_prix{
	white-space: wrap;
	text-decoration: underline double;
}
#div2{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#div2 div{
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#div2 p, #div2 p img{
	width: 70%;
	text-align: center;
}
#div2 div img{
	width: 80%;
	height: 100px;
	cursor: pointer;
}
#div2 div input{
	width: 170px;
	cursor: pointer;
}
#div3{
	width: 90%;
}
#div3 h2, #div3 textarea{
	margin: 5px 0px 5px 0px;
}
#div3 h2{
	font-family: Ravie;
}
#p1 button, #p1{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: green;
	color: white;
	border-radius: 5px;
}
#p1 span{
	font-size: 30px;
	font-weight: bold;
	font-family: 'Rockwell Condensed';
}
textarea{
	resize: none; 
	border: 1px black solid; 
	border-radius: 3px; 
	padding-left: 5px; 
	padding-top: 5px; 
	font-size: 17px; 
	font-weight: bold; 
	font-family: 'Tekton Pro'; 
	background-color: white;
	color: black;
	width: 1077px;
}
/* bottom */
footer{
	width: 92%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: rgb(255, 219, 112);
	border-radius: 5px;
	margin: 10px 0px 10px 0px;
}
footer h1{
	font-family: 'Rosewood Std Regular';
	animation: logo_animation 3s linear 0s infinite alternate;
	font-size: 50px;
	margin: 10px 0px 10px 0px;
}
#div4{
	width: 92%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
#div4_1, #div4_2, #div4_3{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 33.33%;
}
#div4_1 h2, #div4_2 h2, #div4_3 h2{
	margin: 10px 0px 5px 0px;
	font-family: 'Tekton Pro';
}
#div4_1 ul{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 5px;
	width: 250px;
	padding: 0px;
}
#div4_1 img:hover{
	border: 1px white solid;
}
#div4_2 p{
	padding: 15px;
	border: 1px solid black;
	color: black;
	margin: 0px 0px 5px 0px;
}
#div4_2 p:hover{
	border: 2px solid black;
	font-weight: bold;
}
#div4_2 a, #div4_2 a:visited{
	color: black;
}
#div4_3 div{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#select_lang{
  background-color: black;
  color: white;
  font-size: 15px;
  margin-left: 5px;
  border-color: #fff transparent transparent transparent;
}
#div4_3 p{
	margin: 5px;
}